
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar{
        margin-bottom: 0;
        border-radius:0;      
        background-color: #24e3ff;;     
        color:#000000;        
        padding: 0.5% 0 ;
        font-size:1.2em;
        border:0;
    }
    .navbar-brandlogo{
        float: left;
        min-height: 55px;
        padding: 0 15px 5 px;
    }  
    h1, h2 {
        margin-top: 25px;
        margin-bottom: 0;
    }
    p {
       margin-bottom: 25px;
    }
    /* center image - jumbotron*/
    .main-theme{
        background-color: #ffffff;
        color: #000000;
        font-size:1.8em;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1% 0;        
    }
   .container-fluid-featured{
    background-color: #ffffff;
    color: #000000;
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1% 0;
   }
   .img-responsive{
       width: 100%;
       margin-bottom: 25px;
   }
    /*Aligning the images using float for the featured section */
   .col-sm-4{
        text-align: center;
        float: left;
        width: 33.33%;
        padding: 1% 2; 
   }   
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }    
/* Footer */
    footer {
        background-color: #24e3ff;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1% 0;
    }
/*Media Queries */
    @media(max-width: 900px){
        .fa{
            font-size: 20 px;
            padding:10px;
        }
        h1 {
            font-size: 5.9vw;
          }
          h2 {
            font-size: 3.0vh;
          }
          p {
            font-size: 2vmin;
            text-align: left;
            margin-bottom: 25px;
          }
          .col-sm-4{
            width : 48%;
            margin-bottom: 15px;
            align-self: auto;
            text-align: center;
          }
          .copyright {
            float: center;
        }         
    }

    @media (max-width:600px){
        .fa{
            font-size: 20 px;
            padding:10px;
        }
        h1 {
            font-size: 5.9vw;
          }
          h2 {
            font-size: 3.0vh;
          }
          p {
            font-size: 2vmin;
            text-align: left;
            margin-bottom: 25px;
          }       
          .col-sm-4{
            width : 100%;
            margin-bottom: 15px;
            align-self: auto;
            text-align: center;
          }
          .copyright {
            float: center;
        }
    }   